.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
  
  .content-wrapper ion-list,
  .content-wrapper .ion-margin-top {
    width: 90%;
    max-width: 400px;
  }
  