.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-button[color="dark"]{
  text-transform: initial;
}

ion-content {
  --background: var(--ion-color-primary);
}

#card-border {
  position: relative;
  width: fit-content;
  height: fit-content;
}

#login-planet {
  position: absolute;
  top: -30%;
  left: -50%;
}
